<!DOCTYPE html>

<html>
    <head>
        <title>Forex Journal</title>
       <link href="/images/favicon.png" rel='icon' />
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/app.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
