<%- include ('../partials/header_index') %>

<header class="header">

    <div class="text-box">
        <h1 class="heading-primary">
            <span class="heading-primary-main">Forex Journal</span>
            <span class="heading-primary-sub">For passionate traders</span>
        </h1>

        <a href="/trades" class="btn btn-large btn-success">VIEW TRADES</a>
    </div>
</header>

<%- include ('../partials/footer') %>