<%- include ('../partials/header_index') %>

<header class="header">

    <div class="header__text-box">
        <h1 class="heading-primary">
            <span class="heading-primary--main">Journal</span>
            <span class="heading-primary--sub">For professional traders</span>
        </h1>

        <a href="/trades" class="custom-btn custom-btn--white custom-btn--animated">LOGIN</a>
    </div>
</header>

<%- include ('../partials/footer') %>