<%- include ('../partials/header') %>

<div class="container">
    <div class="row">
        <h1 class="heading">Signup</h1>
        <div class="container-form ">
            <form action="/signup" method="POST">
                <div class="form-group">
                    <input type="text" name="username" placeholder="Username" class="form-control">
                </div>
                <div class="form-group">
                    <input type="email" name="email" placeholder="Email" class="form-control">
                </div>
                <div class="form-group">
                    <input type="password" name="password" placeholder="Password" class="form-control password-input">
                </div>
                <div class="form-group">
                    <label>Show Password
                        <input type="checkbox" name="checkbox" class="checkbox-input" onclick="toggleShowPassword()">
                    </label>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-success btn-block"><i class="fa fa-sign-out"></i> Signup</button>
                </div>
            </form>
            <p>Already signed in? Log in <a href="/login">here</a></p>
        </div>
    </div>
</div>

<%- include ('../partials/footer') %>